<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-flat-button color="accent" [routerLink]="['']">{{title}}</button>
    <button mat-raised-button color="primary" [routerLink]="['home']">Home</button>
    <button mat-raised-button color="primary" [routerLink]="['contact']">Contact</button>
    <button mat-raised-button color="primary" [routerLink]="['test']">Test</button>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">http</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
